mixin video(video)
    a(href=`/videos/${video.video_pk}`) 
        div.video-mixin
            div.video-mixin__thumb
            div.video-mixin__data
                span.video-mixin__title=video.title
                div.video-mixin__meta
                    span #{video.we_name}   
                    br
                    span #{video.views} 회
