extends ../base.pug



block content 
    div 
        p=video.description
        small=video.createdat
    a(href=`${video.video_pk}/edit`) Edit Video &rarr;
    br 
    a(href=`${video.video_pk}/delete`) Delete Video &rarr;