extends ../base

block content 
    if errorMessage
            span=errorMessage
    div.user_area
        form(method="post").form
            input(placeholder="Old Password" name ='oldpw' type ="password")
            input(placeholder="New Password" name ='newpw' type ="password")
            input(placeholder="New Password Confirmation" name ='pwconfirm' type ="password")
            input(type="submit", value="Change Password").active_btn 