extends ../base

block content 
    if(errorMessage) 
            p=errorMessage
    form(method="POST")
        p name
        input(type="text" name = "username" required placeholder="username") 
        input(type="password" name = "password" required placeholder="password") 
        input(type="submit", value = "Log In")
        br
        a(href="/users/github/start") Continue with Github &rarr; 

    hr
    div 
        span Don't have an account? 
        a(href="/Join") Create One Now  &rarr;
        