extends ../base
include ../mixins/video


block content 
    div.profile__data
        img(src="/"+user.we_avatar_url).avatar
        he=user.we_name
    div.video-grid
        each video in videos 
            +video(video)
           
        else 
            li Plaease upload videos! 

    